/*
  ---------------------------
   Mixins
  ---------------------------
*/
/*
  ---------------------------
   Resets
  ---------------------------
*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 120%; }

*:focus {
  outline: none !important;
  text-decoration: none !important; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
img {
  padding: 0;
  margin: 0; }

a {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

a:hover,
a:active,
btn:hover,
btn:active {
  text-decoration: none; }

.btn {
  border-radius: 0; }

ul {
  list-style-type: none; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mr-30 {
  margin-right: 30px; }

.ml-30 {
  margin-left: 30px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.mr-15 {
  margin-right: 15px; }

.ml-15 {
  margin-left: 15px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.mr-40 {
  margin-right: 40px; }

.ml-40 {
  margin-left: 40px; }

.p-0 {
  padding: 0; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

@media screen and (max-width: 767px) {
  .xs-mt-30 {
    margin-top: 30px; }
  .xs-mb-30 {
    margin-bottom: 30px; }
  .xs-mr-30 {
    margin-right: 30px; }
  .xs-ml-30 {
    margin-left: 30px; }
  .xs-mt-15 {
    margin-top: 15px; }
  .xs-mb-15 {
    margin-bottom: 15px; }
  .xs-mr-15 {
    margin-right: 15px; }
  .xs-ml-15 {
    margin-left: 15px; }
  .xs-mt-40 {
    margin-top: 40px; }
  .xs-mb-40 {
    margin-bottom: 40px; }
  .xs-mr-40 {
    margin-right: 40px; }
  .xs-ml-40 {
    margin-left: 40px; }
  .xs-p-0 {
    padding: 0; }
  .xs-pl-0 {
    padding-left: 0; }
  .xs-pr-0 {
    padding-right: 0; }
  .xs-pt-0 {
    padding-top: 0; }
  .xs-pb-0 {
    padding-bottom: 0; }
  .xs-no-gutter > [class*='col-'] {
    padding-right: 0; } }

@media screen and (max-width: 992px) {
  .sm-mt-30 {
    margin-top: 30px; }
  .sm-mb-30 {
    margin-bottom: 30px; }
  .sm-mr-30 {
    margin-right: 30px; }
  .sm-ml-30 {
    margin-left: 30px; }
  .sm-mt-15 {
    margin-top: 15px; }
  .sm-mb-15 {
    margin-bottom: 15px; }
  .sm-mr-15 {
    margin-right: 15px; }
  .sm-ml-15 {
    margin-left: 15px; }
  .sm-mt-40 {
    margin-top: 40px; }
  .sm-mb-40 {
    margin-bottom: 40px; }
  .sm-mr-40 {
    margin-right: 40px; }
  .sm-ml-40 {
    margin-left: 40px; }
  .sm-p-0 {
    padding: 0; }
  .sm-pl-0 {
    padding-left: 0; }
  .sm-pr-0 {
    padding-right: 0; }
  .sm-pt-0 {
    padding-top: 0; }
  .sm-pb-0 {
    padding-bottom: 0; }
  .sm-no-gutter > [class*='col-'] {
    padding-right: 0; } }

@media screen and (min-width: 992px) {
  .md-mt-30 {
    margin-top: 30px; }
  .md-mb-30 {
    margin-bottom: 30px; }
  .md-mr-30 {
    margin-right: 30px; }
  .md-ml-30 {
    margin-left: 30px; }
  .md-mt-15 {
    margin-top: 15px; }
  .md-mb-15 {
    margin-bottom: 15px; }
  .md-mr-15 {
    margin-right: 15px; }
  .md-ml-15 {
    margin-left: 15px; }
  .md-mt-40 {
    margin-top: 40px; }
  .md-mb-40 {
    margin-bottom: 40px; }
  .md-mr-40 {
    margin-right: 40px; }
  .md-ml-40 {
    margin-left: 40px; }
  .md-p-0 {
    padding: 0; }
  .md-mr--30 {
    margin-right: -30px; }
  .md-pl-0 {
    padding-left: 0; }
  .md-pr-0 {
    padding-right: 0 !important; }
  .md-pt-0 {
    padding-top: 0; }
  .md-pb-0 {
    padding-bottom: 0; }
  .md-no-gutter > [class*='col-'] {
    padding-right: 0; } }

@media screen and (min-width: 992px) {
  .p-l-15 {
    padding-left: 7.5px; }
  .p-r-15 {
    padding-right: 7.5px; }
  .p-t-15 {
    padding-top: -15px; }
  .p-b-15 {
    padding-bottom: -15px; } }

.m-t-30 {
  margin-top: 30px; }

/*
 *
 


*/
.navbar-nav {
  background-color: transparent;
  border-color: 0;
  border: 0; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0;
  background-color: transparent !important; }

.nav > li > a {
  padding: 11px 25px;
  color: #333 !important; }

.nav > li {
  margin-right: 8px; }

#golden-nav {
  padding-left: 0; }

.navbar {
  border: 0 !important;
  background-color: transparent; }

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: #00bff3 !important;
  border-radius: 3px;
  color: #fff !important; }

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #fff;
  background-color: #00c3f8;
  border-radius: 3px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #00bff3;
  color: #fff !important; }

.dropdown-menu {
  padding-bottom: 0; }

.sm-align-left {
  text-align: left; }

.sm-align-center {
  text-align: center; }

.sm-align-right {
  text-align: right; }

@media screen and (max-width: 992px) {
  div[class*=sm-align] {
    text-align: center; } }

.heart {
  color: #fd1d1d; }

.btn-ghost {
  padding: 15px 30px;
  border-radius: 35px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border: 3px solid #fff; }
  .btn-ghost:hover {
    color: #fff; }
  .btn-ghost:hover i {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

.btn-ghost--alt {
  border: 3px solid #F44336;
  color: #F44336;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .btn-ghost--alt:hover {
    color: #F44336; }
  .btn-ghost--alt:hover i {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

.btn-small {
  padding: 10px 20px; }

.btn-cta {
  font-size: 21px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #F44336;
  color: #fff;
  padding: 20px 40px; }
  .btn-cta i {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .btn-cta:hover {
    color: #fff;
    background-color: rgba(244, 67, 54, 0.8); }
  .btn-cta:hover i {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

.divider-title {
  color: #fff;
  border-bottom: 2px solid #FF5722;
  margin-bottom: 20px; }
  .divider-title span {
    display: inline-block;
    padding: 14px 30px;
    background-color: #FF5722;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }

.button-fluid {
  padding: 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.subtitle {
  font-weight: 700;
  color: #404040;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 30px; }

.textarea {
  font-size: 14px; }

.textarea p {
  line-height: 27px; }

.textarea p:not(:last-child) {
  margin-bottom: 30px; }

.textarea img {
  max-width: 100%;
  height: auto; }

.textarea h1,
.textarea h2,
.textarea h3,
.textarea h4,
.textarea h5,
.textarea h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  text-transform: normal;
  color: #404040; }

.textarea h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

.textarea h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

.textarea h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

.textarea h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

.textarea h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

.textarea h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

.textarea ul {
  padding-left: 15px;
  font-size: 14px; }

.textarea ul li:before {
  content: '\f058';
  font-family: 'FontAwesome';
  color: #17aa56;
  margin-right: 5px; }

.textarea ul li:not(:last-child) {
  margin-bottom: 10px; }

.textarea ol {
  padding-left: 30px;
  font-size: 14px; }

.textarea a {
  color: #2196F3; }

.textarea a :hover {
  opacity: 0.9; }

@media (min-width: 550px) {
  .textarea h1 {
    font-size: 5.0rem; }
  .textarea h2 {
    font-size: 4.2rem; }
  .textarea h3 {
    font-size: 3.6rem; }
  .textarea h4 {
    font-size: 3.0rem; }
  .textarea h5 {
    font-size: 2.4rem; }
  .textarea h6 {
    font-size: 1.5rem; } }

.row.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media only screen and (min-width: 768px) {
  .is-table-row {
    display: table; }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top; } }

.no-border {
  border: none !important; }

.sidebar {
  margin-bottom: 40px; }
  .sidebar-image img {
    width: 100%;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .sidebar-title {
    font-family: 'kalam', cursive;
    margin-top: 12px;
    margin-bottom: 12px; }

.share-label {
  margin-bottom: 12px; }

.btn-rounded {
  height: 45px;
  border-radius: 25px;
  width: 100%;
  border: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.no-radius {
  border-radius: 0 !important; }

.btn-gradient {
  background: -webkit-linear-gradient(45deg, #f07113, #e92e5d);
  background: -o-linear-gradient(45deg, #f07113, #e92e5d);
  background: linear-gradient(45deg, #f07113, #e92e5d); }
  .btn-gradient:active, .btn-gradient:hover, .btn-gradient:focus {
    background: -webkit-linear-gradient(45deg, #f07113, #e92e5d);
    background: -o-linear-gradient(45deg, #f07113, #e92e5d);
    background: linear-gradient(45deg, #f07113, #e92e5d); }

.btn-dark {
  background-color: #5b5e62 !important;
  color: #fff; }
  .btn-dark:active, .btn-dark:hover, .btn-dark:focus {
    background-color: #5b5e62 !important;
    color: #fff !important; }

.btn-lender {
  background-image: -webkit-linear-gradient(315deg, #667eea 0%, #764ba2 100%);
  background-image: -o-linear-gradient(315deg, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border: 0;
  background-color: transparent !important; }

.btn-borrower {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
  background-image: -webkit-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
  background-image: -o-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  border: 0;
  background-color: transparent !important; }

.modal-content {
  border-radius: 0; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0 15px; }

.modal-footer {
  padding: 0; }

.modal-footer .btn + .btn {
  margin: 0; }

.form-control {
  border-radius: 0;
  border: 1px solid transparent; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0; }

label {
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 400; }

.radio label, .checkbox label {
  padding: 0; }

input[type="checkbox"] {
  width: 18px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  margin-left: -25px;
  vertical-align: -4px;
  outline-width: 0;
  border-radius: 50%; }
  input[type="checkbox"]:focus {
    -webkit-animation: press .8s 1;
    animation: press .8s 1; }
  input[type="checkbox"]:before, input[type="checkbox"]:after {
    content: ""; }
  input[type="checkbox"]:after {
    display: block;
    width: 14px;
    height: 14px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms; }
  input[type="checkbox"]:disabled:after {
    border-color: #ddd;
    background-color: #eee;
    cursor: not-allowed; }
  input[type="checkbox"]:disabled:checked:after {
    background-color: #eee;
    border-color: #ddd; }
  input[type="checkbox"]:disabled:checked:before {
    border-color: #999; }

input[type="checkbox"]:after {
  border-radius: 2px;
  background-color: #fff;
  z-index: 999; }

input[type="checkbox"]:checked:after {
  background-color: #f07213;
  border-color: #f07213; }

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 4px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn-primary {
  background-color: #f07213;
  color: #fff;
  border: none;
  padding: 8px 24px;
  font-size: 16px; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f07213 !important;
    border: 0; }

.radio-container {
  margin-top: 20px;
  margin-bottom: 20px; }

.radio {
  margin: 0.5rem;
  display: inline-block; }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .radio input[type="radio"] + .radio-label:before {
      content: '';
      background: #f4f4f4;
      border-radius: 100%;
      border: 1px solid #b4b4b4;
      display: inline-block;
      width: 1.1em;
      height: 1.1em;
      position: relative;
      top: -0.2em;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease; }
    .radio input[type="radio"]:checked + .radio-label:before {
      background-color: #f07213;
      -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
      box-shadow: inset 0 0 0 4px #f4f4f4; }
    .radio input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: #f07213; }
    .radio input[type="radio"]:disabled + .radio-label:before {
      -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
      box-shadow: inset 0 0 0 4px #f4f4f4;
      border-color: #b4b4b4;
      background: #b4b4b4; }
    .radio input[type="radio"] + .radio-label:empty:before {
      margin-right: 0; }

/**
 * =================================
 * 
 * 
 *    Body
 * 
 * 
 * =================================
 */
html, body {
  position: relative;
  background-color: #eee; }

body {
  font-size: 16px; }

/**
 * =================================
 * 
 * 
 *    Index page CSS
 * 
 * 
 * =================================
 */
.app-bg {
  background-image: url("../images/backgrounds/splash.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100%; }

.inner-page {
  background-color: #eee;
  padding-top: 15px;
  height: 100%;
  margin-bottom: 70px; }

.form-control {
  height: 35px; }

/**
 *    Logo
 */
.logo img {
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  width: 46%;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 auto; }

.logo-animateable {
  position: absolute;
  -webkit-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  top: 30%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .logo-animateable img {
    margin-bottom: 50px; }

/**
 *    Footer
 */
.splash-footer {
  position: absolute;
  width: 100%;
  bottom: 4%;
  text-align: center; }

.powered-by {
  color: #333;
  font-weight: 300;
  font-size: 13px; }

.rosebay-logo img {
  width: auto;
  height: 0.65em;
  margin-left: 0.8%;
  margin-bottom: 0.5px; }

/**
 *    Form
 */
.cinergy-form {
  -webkit-transition: all 800ms cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: all 800ms cubic-bezier(0.35, 0, 0.25, 1);
  transition: all 800ms cubic-bezier(0.35, 0, 0.25, 1); }
  .cinergy-form .form-control {
    font-weight: 300;
    padding-left: 40px;
    height: 4.5rem;
    color: #fff;
    background-color: #5b5e62; }
    .cinergy-form .form-control::-webkit-input-placeholder {
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 0.5px; }
    .cinergy-form .form-control:-ms-input-placeholder {
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 0.5px; }
    .cinergy-form .form-control::-ms-input-placeholder {
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 0.5px; }
    .cinergy-form .form-control::placeholder {
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 0.5px; }
    .cinergy-form .form-control:hover, .cinergy-form .form-control:active, .cinergy-form .form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 0; }

.cinergy-form-float {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.icon {
  position: relative;
  color: #fff; }
  .icon:after {
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 4%; }

.icon--user:after {
  content: '\f007'; }

.icon--password:after {
  content: '\f023'; }

.icon--email:after {
  content: '\f0e0'; }

.button-form {
  margin-top: 15px; }

.note {
  text-align: center;
  line-height: 28px;
  margin-bottom: 20px;
  font-size: 14px; }

.bottom {
  text-align: center;
  font-size: 14px; }
  .bottom-note {
    font-weight: 300;
    margin-bottom: 25px; }
    .bottom-note a {
      font-weight: 600;
      color: #333; }
  .bottom .login-social ul {
    margin-top: 10px; }
    .bottom .login-social ul li:not(:last-child) {
      margin-right: 16px; }
    .bottom .login-social ul li {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      border: 1px solid transparent; }
      .bottom .login-social ul li a {
        display: inline-block;
        line-height: 3.6rem;
        color: white;
        font-size: 1.05rem; }

/**
 * =================================
 * 
 * 
 *    Dashboard Page
 * 
 * 
 * =================================
 **/
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px; }
  .flex-navigation .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #fff;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }
  .flex-navigation img {
    width: 70% !important; }
    @media screen and (min-width: 767px) {
      .flex-navigation img {
        width: 40% !important; } }

.has-tabs {
  height: initial !important; }
  .has-tabs .top-nav {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .has-tabs .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 48px;
    font-size: 14px;
    position: relative; }
    .has-tabs .tabs .tab-item {
      height: 100%;
      text-align: center;
      border-bottom: 2px solid transparent;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
      .has-tabs .tabs .tab-item a {
        display: inline-block;
        color: #fff;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .has-tabs .tabs .tab-item.active {
        border-bottom: 2px solid #fff; }

.circle {
  background-color: white;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  color: #f07213;
  border-radius: 50%;
  text-align: center;
  margin-right: 4px; }

.tabbed-page {
  padding-top: 133px !important; }

.back-button {
  font-size: 18px; }
  .back-button a {
    width: 40px;
    display: inline-block;
    color: #fff; }

.centered-logo {
  text-align: center; }

.page-info span {
  margin-left: auto; }

.page-info .ghost-label {
  padding: 6px 12px;
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  border-radius: 19px;
  border: 1px solid white;
  display: inline-block; }
  .page-info .ghost-label:active, .page-info .ghost-label:focus {
    color: white; }

.page-info a {
  margin-left: auto;
  text-align: right;
  line-height: 70px; }
  .page-info a:active, .page-info a:focus, .page-info a:hover {
    color: #fff; }

.fixed-navigation {
  position: fixed;
  z-index: 5; }

.has-fixed-navigation {
  padding-top: 85px; }

.no-navigation {
  margin-bottom: 0; }

.navigation-bar {
  width: 100%;
  height: 70px;
  background-color: #f07213; }

.navigation-logo img {
  width: 20%; }

/**
 * =================================
 * 
 * 
 *    Dash Cards
 * 
 * 
 * =================================
 **/
.icon--orange {
  background-color: #f07213; }

.icon--violet {
  background-color: #9b59b6; }

.icon--blue {
  background-color: #3498db; }

.icon--green {
  background-color: #34ca73; }

.icon--red {
  background-color: #ff6961; }

.icon--orange {
  background-color: #f07213; }

.icon--orange {
  background-color: #f07213; }

.dashcard-container .dashcard:not(:last-child) {
  margin-bottom: 15px; }

.dashcard {
  width: 100%;
  background-color: #fff;
  height: 110px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.02);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.02); }
  .dashcard-icon {
    width: 140px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    display: inline-block;
    font-size: 80px;
    color: #fff;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%; }
  .dashcard-option {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4px;
    right: 2px;
    color: #757575; }
  .dashcard-info {
    display: inline-block;
    height: 100%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    padding: 15px;
    text-align: left;
    color: #757575; }
    .dashcard-info .title {
      color: #333;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 12px; }
    .dashcard-info .info {
      font-size: 11px; }

/**
 * =================================
 * 
 * 
 *    Sheet
 * 
 * 
 * =================================
 **/
.sheet-container {
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e4e4e4; }

.sheet {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #9a9a9a;
  font-size: 12px; }
  .sheet .notification {
    position: relative; }
    .sheet .notification .notification-count {
      position: absolute;
      background-color: red;
      color: white;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 8px;
      top: -9px;
      right: -9px;
      border-radius: 50%;
      text-align: center; }
  .sheet-icon {
    font-size: 24px;
    margin-bottom: 4px;
    color: #9a9a9a; }

.sheet-active {
  color: #f07213 !important; }
  .sheet-active .sheet-icon {
    color: #f07213 !important; }

/**
 * =================================
 * 
 * 
 *    Dialog
 * 
 * 
 * =================================
 **/
.dialog {
  text-align: center; }
  .dialog-title {
    font-size: 19px;
    color: #f07213;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600; }
  .dialog-content {
    color: #808080;
    padding: 16px;
    line-height: 26px; }

.dialog-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dialog-button .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    color: #808080; }
  .dialog-button .btn.highlight {
    color: #f07213; }
  .dialog-button .btn:last-child {
    border-left: 1px solid #e5e5e5; }

/**
 * =================================
 * 
 * 
 *    Profile page
 * 
 * 
 * =================================
 **/
.form-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #f07213; }

.form-legend {
  font-size: 24px;
  color: #f07213;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 1px solid #9a9a9a;
  margin-bottom: 30px; }

.fluid-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0; }
  .fluid-form-container .form-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .fluid-form-container .form-group:first-child {
    padding-right: 15px; }

.btn-danger, .color-danger {
  background-color: #d60000; }

.btn-success, .color-success {
  background-color: #01c853; }

.general-form .form-control {
  border: 0.5px solid #ccc;
  height: 40px; }

/**
 * =================================
 * 
 * 
 *    
 * 
 * 
 * =================================
 **/
.action-header {
  margin-bottom: 15px; }

.action-container {
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18); }
  .action-container .strong {
    font-weight: 600; }
  .action-container .action-group {
    margin-top: 30px;
    margin-bottom: 30px; }
  .action-container .action-title {
    font-size: 19px;
    color: #f07213;
    margin-bottom: 6px;
    font-weight: 600; }
  .action-container .action-statement {
    font-size: 14px;
    color: #757575;
    margin-bottom: 12px; }
  .action-container .action-sheet li {
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .action-container .action-sheet li .key, .action-container .action-sheet li .value {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .action-container .action-sheet li .value {
      text-align: right; }
  .action-container .action-sheet li:last-child {
    padding-bottom: 0; }
  .action-container .action-sheet .label {
    padding: 8px;
    font-size: 13px; }
  .action-container .action-sheet li:not(:last-child) {
    border-bottom: 1px dotted #ccc; }
  .action-container .profile-sheet .progress {
    height: 10px;
    border-radius: 0; }
  .action-container .profile-sheet .profile-item {
    margin-bottom: 15px; }
    .action-container .profile-sheet .profile-item .top-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 12px; }
      .action-container .profile-sheet .profile-item .top-item .icon {
        width: 32px;
        height: 32px;
        display: inline-block; }
      .action-container .profile-sheet .profile-item .top-item .title {
        color: #333;
        width: 60%; }
      .action-container .profile-sheet .profile-item .top-item .status {
        float: right;
        color: #757575;
        font-size: 12px;
        width: 40%;
        text-align: right; }

.has-completed {
  opacity: 1; }

.under-progress {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.has-shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.profile-logo {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18); }
  .profile-logo img {
    width: 20vh;
    padding-top: 60px;
    padding-bottom: 60px; }

.profile-name {
  font-weight: 300;
  margin-bottom: 8px;
  margin-top: 10px; }

.profile-details {
  font-size: 16px;
  color: #8a8a8a;
  text-align: center;
  margin-bottom: 20px; }

.m-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.profile-page {
  padding-top: 70px !important; }

.avatar {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  display: block; }

.imgProgress-progress {
  position: relative; }

.imgProgress-img {
  border-radius: 50%;
  position: absolute; }

.imgProgress-circle {
  stroke-width: 32; }

.imgProgress-svg {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; }

.color--green {
  color: green; }

.bg--green {
  background-color: green; }

.bg--green-light {
  background-color: rgba(0, 128, 0, 0.2); }

.color--blue {
  color: #03A9F4; }

.bg--blue {
  background-color: #03A9F4; }

.bg--blue-light {
  background-color: rgba(3, 169, 244, 0.2); }

.color--violet {
  color: #3F51B5; }

.bg--violet {
  background-color: #3F51B5; }

.bg--violet-light {
  background-color: rgba(63, 81, 181, 0.2); }

.color--yellow {
  color: #FF6F00; }

.bg--yellow {
  background-color: #FF6F00; }

.bg--yellow-light {
  background-color: rgba(255, 111, 0, 0.2); }

.color--red {
  color: red; }

.action-menu-container {
  padding: 0 !important; }
  .action-menu-container .action-sheet li div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  .action-menu-container i {
    margin-left: 12px;
    margin-right: 12px;
    color: #f07213; }
  .action-menu-container li {
    padding: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 50px;
    line-height: 50px; }
    .action-menu-container li a {
      color: #757575;
      display: inline-block;
      width: 100%;
      height: 100%; }
  .action-menu-container .action-sheet li:not(:last-child) {
    border-bottom: 1px solid #ccc; }

.action-notification-container.action-container {
  padding: 0;
  border-radius: 0; }

.action-notification-container .key {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 15% !important;
  flex: 0 0 15% !important; }

.action-notification-container .value {
  text-align: left !important;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 85% !important;
  flex: 0 0 85% !important;
  color: #ccc; }

.action-notification-container i {
  margin-left: 12px;
  margin-right: 12px;
  color: #f07213; }

.action-notification-container .unread .value {
  font-weight: 500;
  color: #333; }

.action-notification-container .read {
  background-color: #f5f5f5; }

.action-notification-container li {
  padding: 15px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 10px !important;
  padding-right: 10px !important;
  min-height: 50px;
  line-height: 30px; }
  .action-notification-container li a {
    color: #ccc;
    display: inline-block;
    width: 100%;
    height: 100%; }

.action-notification-container li:last-child {
  padding-bottom: 15px !important; }

.action-notification-container .action-sheet li:not(:last-child) {
  border-bottom: 1px solid #ccc; }

/**
 * =================================
 * 
 * 
 *    Special offer
 * 
 * 
 * =================================
 **/
.panel--violet {
  background-color: #8c88ff; }

.panel--cyan {
  background-color: #50d2c2; }

.panel--red {
  background-color: #ec6d6d; }

.offer-container .offer {
  margin-bottom: 30px; }

.offer-panel {
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  border-radius: 6px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .offer-panel a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%; }

.offer-title {
  font-size: 20px;
  color: #fff;
  font-weight: 500; }

.offer-button {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .offer-button .icon {
    margin-left: auto; }

.offer-body {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .offer-body p {
    margin-top: 5px;
    font-size: 13px;
    color: #757575; }

.offer-action {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .offer-action a {
    background-color: #f07213;
    border-radius: 6px;
    font-size: 16px;
    color: #fff; }

.offer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .offer .columns.two-col .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .offer .columns .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

.offer .bottom {
  text-align: left; }

.bordered-input {
  margin-top: 12px;
  height: 45px; }

.form-control {
  border-radius: 0 !important;
  border: 1px solid #ccc !important; }

.history-container .history {
  margin-bottom: 15px; }

.history {
  padding: 12px;
  border-radius: 8px;
  border-left: 2px solid #f07213;
  background-color: #fff; }
  .history h2 {
    font-size: 18px;
    margin-bottom: 8px;
    display: block; }
  .history p {
    color: #757575;
    font-size: 13px;
    display: block; }
  .history .label {
    padding: 12px 30px;
    display: inline-block; }
  .history .label-ghost {
    background-color: transparent; }
  .history .label-red {
    border: 1px solid #d9534f;
    color: white;
    background-color: #d9534f; }
    .history .label-red:active, .history .label-red:focus, .history .label-red:hover {
      color: white; }
  .history .label-green {
    border: 1px solid #01c853;
    color: white;
    background-color: #01c853; }
    .history .label-green:active, .history .label-green:focus, .history .label-green:hover {
      color: white; }
  .history .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .history .column .col {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .history .column .col:last-child {
      text-align: right; }

.split-info {
  margin-top: 12px;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  text-align: center; }
  .split-info p:first-child {
    margin-bottom: 6px; }
  .split-info .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  .split-info .col:last-child {
    border-left: 1px solid #fff; }

.split-page {
  padding-top: 170px; }

.checkbox {
  margin-left: 30px; }

.paper {
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18); }
  .paper-title {
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.7);
    margin-bottom: 30px; }
  .paper-body {
    line-height: 22px; }

.paper.paper-v-center {
  height: 75%; }
  .paper.paper-v-center .paper-title {
    padding-top: 25px; }

.paper-about-padding {
  padding-top: 40px; }

.rose img {
  width: 50%; }

.keyline {
  color: #757575;
  margin-bottom: 15px; }

.exchange {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #fff; }

.qr-bg {
  text-align: center; }
  .qr-bg .qr-img {
    width: 128px; }
  .qr-bg img {
    width: 100%;
    height: 100vh; }

.qr-body {
  padding: 0;
  margin: 0;
  overflow: hidden !important; }

/* FANCY COLLAPSE PANEL STYLES */
.fancy-collapse-panel .panel-default > .panel-heading {
  padding: 0; }

.fancy-collapse-panel .panel-heading a {
  padding: 12px 35px 12px 15px;
  display: inline-block;
  width: 100%;
  background-color: #f07213;
  color: #ffffff;
  position: relative;
  text-decoration: none;
  text-align: left; }

.fancy-collapse-panel .panel-heading a:after {
  font-family: "FontAwesome";
  content: "\f147";
  position: absolute;
  right: 20px;
  font-size: 20px;
  font-weight: 400;
  top: 50%;
  line-height: 1;
  margin-top: -10px; }

.fancy-collapse-panel .panel-heading a.collapsed:after {
  content: "\f196"; }

.login-checkbox {
  margin-left: 0; }
  .login-checkbox label {
    font-size: 12px;
    color: #333; }

.sign-in {
  color: #f07213; }

input[type=checkbox] {
  display: none; }

/* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block; }

input[type=checkbox] + label:before {
  content: "\f096"; }

/* unchecked icon */
input[type=checkbox] + .star:before {
  content: "\f005"; }

/* unchecked icon */
input[type=checkbox] + label:before {
  letter-spacing: 5px; }

/* space between checkbox and label */
input[type=checkbox]:checked + label:before {
  content: "\f046"; }

/* checked icon */
input[type=checkbox]:checked + .star:before {
  content: "\f006"; }

/* checked icon */
input[type=checkbox]:checked + label:before {
  letter-spacing: 3.5px; }

/* allow space for check mark */
label.star {
  color: #f07213;
  font-size: 18px; }

.facebook {
  background-color: #3b5998; }

.google-plus {
  background-color: #dd4b39; }

.linkedin {
  background-color: #0077b5; }

.instagram {
  background-color: #405de6; }

.twitter {
  background-color: #1da1f2; }

.toggle-btn {
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 50px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor: pointer; }
  .toggle-btn.active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC") no-repeat 10px center #2ecc71; }
    .toggle-btn.active .round-btn {
      left: 45px; }
  .toggle-btn .round-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out; }
  .toggle-btn .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.statement-legend {
  margin-bottom: 15px; }

.statement-legend {
  margin-top: 30px; }

/*****************************************
  upload button styles
******************************************/
.upload-form-group label, .upload-form-group small {
  display: block; }

.file-upload {
  position: relative;
  display: block;
  text-align: center; }

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background-color: #3498db;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s; }
  .file-upload__label:hover, .file-upload__label:focus, .file-upload__label:active {
    cursor: pointer;
    background: #00b300; }

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0; }

.ci-check div {
  margin: 0 auto;
  margin: 80px 0;
  text-align: center; }

.ci-check input[type='checkbox'] {
  display: block;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-appearance: button;
  border: none;
  background-color: #ccc;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s; }

.ci-check input[type='checkbox'].error {
  background-color: #c63d3d; }

.ci-check input[type='checkbox']:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 80%;
  background-color: #fdfdfd;
  margin: 4%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: -o-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3f3f3));
  background: linear-gradient(to bottom, white 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.ci-check input[type='checkbox']:checked {
  background-color: #79d122; }

.ci-check input[type='checkbox']:checked:after {
  left: 45%;
  border: 0; }

.ci-check input[type="checkbox"]:checked:before {
  display: none; }

.ci-check input[type="checkbox"]:checked:after {
  border: 0; }

.ci-check input[type="checkbox"]:after {
  border: 0; }

.modal-footer .btn {
  padding: 10px 14px; }

.social-icon-key {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  display: inline-block;
  color: #fff;
  text-align: center;
  position: relative;
  top: -2px;
  margin-right: 10px; }

label {
  text-transform: capitalize; }

.circular .progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative; }

.circular .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0; }

.circular .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1; }

.circular .progress .progress-left {
  left: 0; }

.circular .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0; }

.circular .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left; }

.circular .progress .progress-right {
  right: 0; }

.circular .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  -ms-transform-origin: center right;
  transform-origin: center right;
  -webkit-animation: loading-1 1.8s linear forwards;
  animation: loading-1 1.8s linear forwards; }

.circular .progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #44484b;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%; }

.circular .progress.blue .progress-bar {
  border-color: #049dff; }

.circular .progress.blue .progress-left .progress-bar {
  -webkit-animation: loading-2 1.5s linear forwards 1.8s;
  animation: loading-2 1.5s linear forwards 1.8s; }

.circular .progress.yellow .progress-bar {
  border-color: #fdba04; }

.circular .progress.yellow .progress-left .progress-bar {
  -webkit-animation: loading-3 1s linear forwards 1.8s;
  animation: loading-3 1s linear forwards 1.8s; }

.circular .progress.pink .progress-bar {
  border-color: #ed687c; }

.circular .progress.pink .progress-left .progress-bar {
  -webkit-animation: loading-4 0.4s linear forwards 1.8s;
  animation: loading-4 0.4s linear forwards 1.8s; }

.circular .progress.green .progress-bar {
  border-color: #1abc9c; }

.circular .progress.green .progress-left .progress-bar {
  -webkit-animation: loading-5 1.2s linear forwards 1.8s;
  animation: loading-5 1.2s linear forwards 1.8s; }

@-webkit-keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@-webkit-keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } }

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); } }

@-webkit-keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

@-webkit-keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); } }

@-webkit-keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg); } }

@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg); } }

@media only screen and (max-width: 990px) {
  .circular .progress {
    margin-bottom: 20px; } }

.mark-as-favourite {
  color: #f07213 !important;
  margin-top: 20px; }
  .mark-as-favourite a {
    color: #f07213 !important; }

.more-hamburger a {
  color: #fff !important;
  padding: 8px; }

.mascot {
  width: 190px; }

.btn-dismiss {
  background-color: #f07213;
  border: 0; }

/*****************************************
  Image uploader
******************************************/
.img-holder {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  border: 2px solid blue; }
  .img-holder img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.balance-history .value {
  text-align: left !important; }

.balance-panel .panel-group {
  margin-top: 30px !important;
  padding-top: 50px; }

.balance-panel .panel {
  -webkit-box-shadow: none;
  box-shadow: none; }

.balance-panel .panel-title {
  font-size: 14px;
  color: #333 !important; }

.balance-panel .panel-default {
  border-radius: 0;
  border: none;
  background: none;
  margin-bottom: 0;
  padding-bottom: 14px; }

.balance-panel .panel-default > .panel-heading {
  border: none;
  background: none;
  padding: 0; }

.balance-panel .panel-default > .panel-heading + .panel-collapse .panel-body {
  border: none; }

.balance-panel .panel-default h5 {
  font: 300 19px "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0 0 5px; }

.balance-panel .panel-group .panel + .panel {
  margin-top: 15px; }

.balance-panel .panel-default .accordion-toggle:before {
  content: "";
  width: 21px;
  height: 21px;
  display: inline-block;
  background: #e54a1a url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 4px; }

.balance-panel .panel-default .collapsed:before {
  background: #495764 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px; }

.balance-panel .panel-default .panel-title:hover .collapsed:before {
  background-color: #ccc; }

.balance-panel .panel-default .accordion-toggle,
.balance-panel .panel-default .accordion-toggle:focus,
.balance-panel .panel-default .accordion-toggle:hover,
.balance-panel .panel-default .accordion-toggle:active {
  color: #333;
  text-decoration: none; }

.balance-panel .panel-default .collapsed {
  color: #5f6f7e; }

.table-container-summary {
  overflow-x: scroll; }

table {
  margin-top: 30px; }

.table-container-summary th, .table-container-summary td, .table-container-summary tr {
  min-width: 150px; }

.bank-image img {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px; }

.success-message {
  display: none;
  padding: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  margin-bottom: 24px; }
  .success-message .success-accept-button {
    color: #3498db; }
  .success-message .success-delete-button {
    margin-left: 20px;
    color: tomato; }

.error-message {
  display: none;
  padding: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  margin-bottom: 24px; }

/* 



*/
.login-choice .btn:not(:last-child) {
  margin-bottom: 30px; }

.login-choice-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px; }

/* 



*/
.inline-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6; }

.inline-radio div {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.inline-radio input {
  width: 100%;
  height: 30px;
  opacity: 0; }

.inline-radio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #b6b6b6;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6; }

.inline-radio div:last-child label {
  border-right: 0; }

.inline-radio input:checked + label {
  background: #f07518;
  font-weight: 500;
  color: #fff; }

.in-register img {
  margin-top: 55px; }

.modal-selector {
  width: 80vw; }

.loan-selector li {
  padding: 18px 0;
  font-weight: 600;
  font-size: 18px; }
  .loan-selector li:not(:last-child) {
    border-bottom: 1px solid #ccc; }
  .loan-selector li a {
    display: block;
    color: #f07213;
    width: 100%;
    height: 100%; }

.hidden-list {
  width: 100%;
  padding-left: 12px; }

.inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }

.collapse-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #04b4eb;
  position: relative;
  padding: 0; }

.collapse-button:after {
  content: '-';
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff; }

.collapse-button.collapsed:after {
  content: '+'; }

.dashcard.is-disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.4; }
  .dashcard.is-disabled .dashcard-icon {
    background-color: #797979 !important; }

.mascot-background {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .mascot-background img {
    width: 50%;
    margin: auto; }

.picker {
  margin-top: 70px; }

.later-link {
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #f07213;
  font-size: 16px;
  font-weight: 600; }

/*# sourceMappingURL=custom.css.map */