@import "_variables";




/*
  ---------------------------
   Mixins
  ---------------------------
*/

* {
    //    outline: 1px solid red;
}

@mixin shadow() {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3)
}

@mixin triangle ($size, $color, $direction) {
    height: 0;
    width: 0;
    $width: nth($size, 1);
    $height: nth($size, length($size));
    $foreground-color: nth($color, 1);
    $background-color: transparent !default;
    @if (length($color)==2) {
        $background-color: nth($color, 2);
    }
    @if ($direction==up) or ($direction==down) or ($direction==right) or ($direction==left) {
        $width: $width / 2;
        @if $direction==up {
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
            border-bottom: $height solid $foreground-color;
        }
        @else if $direction==right {
            border-top: $width solid $background-color;
            border-bottom: $width solid $background-color;
            border-left: $height solid $foreground-color;
        }
        @else if $direction==down {
            border-left: $width solid $background-color;
            border-right: $width solid $background-color;
            border-top: $height solid $foreground-color;
        }
        @else if $direction==left {
            border-top: $width solid $background-color;
            border-bottom: $width solid $background-color;
            border-right: $height solid $foreground-color;
        }
    }
    @else if ($direction==up-right) or ($direction==up-left) {
        border-top: $height solid $foreground-color;
        @if $direction==up-right {
            border-left: $width solid $background-color;
        }
        @else if $direction==up-left {
            border-right: $width solid $background-color;
        }
    }
    @else if ($direction==down-right) or ($direction==down-left) {
        border-bottom: $height solid $foreground-color;
        @if $direction==down-right {
            border-left: $width solid $background-color;
        }
        @else if $direction==down-left {
            border-right: $width solid $background-color;
        }
    }
    @else if ($direction==inset-up) {
        border-width: $height $width;
        border-style: solid;
        border-color: $background-color $background-color $foreground-color;
    }
    @else if ($direction==inset-down) {
        border-width: $height $width;
        border-style: solid;
        border-color: $foreground-color $background-color $background-color;
    }
    @else if ($direction==inset-right) {
        border-width: $width $height;
        border-style: solid;
        border-color: $background-color $background-color $background-color $foreground-color;
    }
    @else if ($direction==inset-left) {
        border-width: $width $height;
        border-style: solid;
        border-color: $background-color $foreground-color $background-color $background-color;
    }
}

@mixin centerElement($type, $method) {
    @if $type=="flexbox" or $type=="f" {
        @if $method=="horizontal" or $method=="h" {
            justify-content: center;
        }
        @else if $method=="vertical" or $method=="v" {
            align-items: center;
        }
        @else if $method=="both" or $method=="b" {
            align-items: center;
            justify-content: center;
        }
    }
    @else if $type=="position" or $type=="p" {
        position: absolute;
        @if $method=="vertical" or $method=="v" {
            top: 50%;
            transform: translateY(-50%);
        }
        @else if $method=="horizontal" or $method=="h" {
            left: 50%;
            transform: translateX(-50%);
        }
        @else if $method=="both" or $method=="b" {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@mixin animate() {
    transition: all 300ms ease-in-out;
}

@mixin fit($ftype: 1) {
    @if $ftype==1 or $ftype=="1" {
        object-fit: cover;
        object-position: center;
    }
    @else {
        object-fit: contain;
        object-position: center;
    }
}


$baseline-px: 20px;

@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  // Print the first line in pixel values
  #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: ();
    @each $value in $px-values {
      // If the value is zero or not a number, return it
      @if $value == 0 or type-of( $value ) != "number" {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    // Return the property and its list of converted values
    #{$property}: $rem-values; } }


/*
  ---------------------------
   Resets
  ---------------------------
*/

body {
    font-family: $roboto;
    font-size: 16px;
    line-height: 120%;
}

*:focus {
    outline: none !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
img {
    padding: 0;
    margin: 0;
}

a {
    @include animate();
}

a:hover,
a:active,
btn:hover,
btn:active {
    text-decoration: none;
}

.btn {
    border-radius: 0;
}

ul {
    list-style-type: none;
}

.mt-30 {
    margin-top: 30px
}

.mb-30 {
    margin-bottom: 30px
}

.mr-30 {
    margin-right: 30px
}

.ml-30 {
    margin-left: 30px
}

.mt-15 {
    margin-top: 15px
}

.mb-15 {
    margin-bottom: 15px
}

.mr-15 {
    margin-right: 15px
}

.ml-15 {
    margin-left: 15px
}

.mt-40 {
    margin-top: 40px
}

.mb-40 {
    margin-bottom: 40px
}

.mr-40 {
    margin-right: 40px
}

.ml-40 {
    margin-left: 40px
}

.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

@media screen and (max-width:767px) {
    .xs-mt-30 {
        margin-top: 30px
    }
    .xs-mb-30 {
        margin-bottom: 30px
    }
    .xs-mr-30 {
        margin-right: 30px
    }
    .xs-ml-30 {
        margin-left: 30px
    }
    .xs-mt-15 {
        margin-top: 15px
    }
    .xs-mb-15 {
        margin-bottom: 15px
    }
    .xs-mr-15 {
        margin-right: 15px
    }
    .xs-ml-15 {
        margin-left: 15px
    }
    .xs-mt-40 {
        margin-top: 40px
    }
    .xs-mb-40 {
        margin-bottom: 40px
    }
    .xs-mr-40 {
        margin-right: 40px
    }
    .xs-ml-40 {
        margin-left: 40px
    }
    .xs-p-0 {
        padding: 0;
    }
    .xs-pl-0 {
        padding-left: 0;
    }
    .xs-pr-0 {
        padding-right: 0;
    }
    .xs-pt-0 {
        padding-top: 0;
    }
    .xs-pb-0 {
        padding-bottom: 0;
    }
    .xs-no-gutter>[class*='col-'] {
        padding-right: 0; //    padding-left:0;
    }
}

@media screen and (max-width:992px) {
    .sm-mt-30 {
        margin-top: 30px
    }
    .sm-mb-30 {
        margin-bottom: 30px
    }
    .sm-mr-30 {
        margin-right: 30px
    }
    .sm-ml-30 {
        margin-left: 30px
    }
    .sm-mt-15 {
        margin-top: 15px
    }
    .sm-mb-15 {
        margin-bottom: 15px
    }
    .sm-mr-15 {
        margin-right: 15px
    }
    .sm-ml-15 {
        margin-left: 15px
    }
    .sm-mt-40 {
        margin-top: 40px
    }
    .sm-mb-40 {
        margin-bottom: 40px
    }
    .sm-mr-40 {
        margin-right: 40px
    }
    .sm-ml-40 {
        margin-left: 40px
    }
    .sm-p-0 {
        padding: 0;
    }
    .sm-pl-0 {
        padding-left: 0;
    }
    .sm-pr-0 {
        padding-right: 0;
    }
    .sm-pt-0 {
        padding-top: 0;
    }
    .sm-pb-0 {
        padding-bottom: 0;
    }
    .sm-no-gutter>[class*='col-'] {
        padding-right: 0; //    padding-left:0;
    }
}

@media screen and (min-width:992px) {
    .md-mt-30 {
        margin-top: 30px
    }
    .md-mb-30 {
        margin-bottom: 30px
    }
    .md-mr-30 {
        margin-right: 30px
    }
    .md-ml-30 {
        margin-left: 30px
    }
    .md-mt-15 {
        margin-top: 15px
    }
    .md-mb-15 {
        margin-bottom: 15px
    }
    .md-mr-15 {
        margin-right: 15px
    }
    .md-ml-15 {
        margin-left: 15px
    }
    .md-mt-40 {
        margin-top: 40px
    }
    .md-mb-40 {
        margin-bottom: 40px
    }
    .md-mr-40 {
        margin-right: 40px
    }
    .md-ml-40 {
        margin-left: 40px
    }
    .md-p-0 {
        padding: 0;
    }
    .md-mr--30 {
        margin-right: -30px
    }
    .md-pl-0 {
        padding-left: 0;
    }
    .md-pr-0 {
        padding-right: 0 !important;
    }
    .md-pt-0 {
        padding-top: 0;
    }
    .md-pb-0 {
        padding-bottom: 0;
    }
    .md-no-gutter>[class*='col-'] {
        padding-right: 0; //    padding-left:0;
    }
}

@media screen and (min-width: 992px) {
    .p-l-15 {
        padding-left: 7.5px;
    }
    .p-r-15 {
        padding-right: 7.5px;
    }
    .p-t-15 {
        padding-top: -15px;
    }
    .p-b-15 {
        padding-bottom: -15px;
    }
}

.m-t-30 {
    margin-top: 30px;
}





/*
 *
 


*/

.navbar-nav {
    background-color: transparent;
    border-color: 0;
    border: 0
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: 0;
    background-color: transparent !important;
}

.nav>li>a {
    padding: 11px 25px;
    color: #333 !important;
}

.nav>li {
    margin-right: 8px;
}

#golden-nav {
    padding-left: 0
}

.navbar {
    border: 0 !important;
    background-color: transparent;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:hover,
.navbar-nav>.active>a:focus,
{
    background-color: #00bff3 !important;
    border-radius: 3px;
    color: #fff !important;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    color: #fff;
    background-color: lighten(#00bff3, 1%);
    border-radius: 3px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #00bff3;
    color: #fff !important;
}

.dropdown-menu {
    padding-bottom: 0;
}


.sm-align-left {
    text-align: left
}

.sm-align-center {
    text-align: center
}

.sm-align-right {
    text-align: right
}

@media screen and (max-width:992px) {
    div[class*=sm-align] {
        text-align: center
    }
}

.heart {
    color: $instagram-6;
}

.btn-ghost {
    padding: 15px 30px;
    border-radius: 35px;
    @include animate();
    border: 3px solid #fff;
    &:hover {
        color: #fff;
    }
    &:hover i {
        //        position: absolute;
        @include animate();
        transform: translateX(5px);
    }
}

.btn-ghost--alt {
    border: 3px solid #F44336;
    color: #F44336;
    @include animate();
    &:hover {
        color: #F44336;
    }
    &:hover i {
        transform: translateX(5px);
    }
}


.btn-small {
    padding: 10px 20px;
}

.btn-cta {
    font-size: 21px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #F44336;
    color: #fff;
    padding: 20px 40px;
    i {
        @include animate();
    }
    &:hover {
        color: #fff;
        background-color: rgba(#f44336, 0.8);
    }
    &:hover i {
        transform: translateX(5px);
    }
}

.divider-title {
    color: #fff;
    border-bottom: 2px solid #FF5722;
    margin-bottom: 20px;
    span {
        display: inline-block;
        padding: 14px 30px;
        background-color: #FF5722;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

.button-fluid {
    padding: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subtitle {
    font-weight: 700;
    color: #404040;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.textarea {
    font-size: 14px
}

.textarea p {
    line-height: 27px
}

.textarea p:not(:last-child) {
    margin-bottom: 30px
}

.textarea img {
    max-width: 100%;
    height: auto
}

.textarea h1,
.textarea h2,
.textarea h3,
.textarea h4,
.textarea h5,
.textarea h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
    text-transform: normal;
    color: #404040
}

.textarea h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem
}

.textarea h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem
}

.textarea h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem
}

.textarea h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem
}

.textarea h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem
}

.textarea h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0
}

.textarea ul {
    padding-left: 15px;
    font-size: 14px
}

.textarea ul li:before {
    content: '\f058';
    font-family: 'FontAwesome';
    color: #17aa56;
    margin-right: 5px
}

.textarea ul li:not(:last-child) {
    margin-bottom: 10px
}

.textarea ol {
    padding-left: 30px;
    font-size: 14px
}

.textarea a {
    color: #2196F3
}

.textarea a :hover {
    opacity: 0.9
}

@media (min-width:550px) {
    .textarea h1 {
        font-size: 5.0rem
    }
    .textarea h2 {
        font-size: 4.2rem
    }
    .textarea h3 {
        font-size: 3.6rem
    }
    .textarea h4 {
        font-size: 3.0rem
    }
    .textarea h5 {
        font-size: 2.4rem
    }
    .textarea h6 {
        font-size: 1.5rem
    }
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}





/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

.no-border {
    border: none !important;
}


.sidebar {
    margin-bottom: 40px;
    &-image {
        img {
            width: 100%;
            height: 120px;
            @include fit();
        }
    }
    &-title {
        font-family: 'kalam', cursive;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.share-label {
    margin-bottom: 12px;
}


.btn-rounded {
    height: 45px;
    border-radius: 25px;
    width: 100%;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.no-radius {
    border-radius: 0 !important
}
.btn-gradient {
  background: -webkit-linear-gradient(45deg, rgb(240, 113, 19), rgb(233, 46, 93));
  background: linear-gradient(45deg, rgb(240, 113, 19), rgb(233, 46, 93));
  &:active, &:hover, &:focus {
      background: -webkit-linear-gradient(45deg, rgb(240, 113, 19), rgb(233, 46, 93));
      background: linear-gradient(45deg, rgb(240, 113, 19), rgb(233, 46, 93));
  }
}

.btn-dark {
    background-color: $darkgray !important;
    color: #fff;
    &:active, &:hover, &:focus {
        background-color: $darkgray !important;
        color: #fff !important;
    }
}

.btn-lender {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: 0;
    background-color: transparent !important;
}

.btn-borrower {background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border: 0;
    background-color: transparent !important;
}

.modal-content {
    border-radius: 0;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0 15px;
}

.modal-footer {
    padding: 0;
}
.modal-footer .btn+.btn {
    margin: 0;
}

.form-control {
    border-radius: 0;
    border: 1px solid transparent;

    &:hover, &:active, &:focus {
        box-shadow: none;
        border: 0;

    }
}

label {
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 400;
}
.radio label, .checkbox label {
    
  padding: 0;
}
$main-color: $orange;
$base-size: 18px;

// end demo
input[type="checkbox"] {
  width: $base-size;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  margin-left: -25px;
  vertical-align: -4px;
  outline-width: 0;
  border-radius: 50%;
  
  &:focus{
    animation: press .8s 1;  
  }
  
  &:before, &:after {
    content: "";
  }
  
  &:after {
    
    display: block;
    width: 14px;
    height: 14px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666;
    transition: 240ms;
  }
  
  &:disabled {
    &:after {
      border-color: #ddd;
      background-color: #eee;
      cursor: not-allowed;
    }
    
    &:checked {
      &:after {
        background-color: #eee;
        border-color: #ddd;
      }
      
      &:before {
        border-color: #999;
      }
    }
  }
}
input[type="checkbox"] {
  
  &:after {
    border-radius: 2px;
    background-color: #fff;
    z-index: 999;
  }
  
  &:checked{
    &:after {
      background-color: $main-color;
      border-color: $main-color;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 6px;
      display: table;
      width: 4px;
      height: 10px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
      transform: rotate(45deg);
    }
  }
}




// @keyframes press {
//   0% {
//     box-shadow: 0 0 0 0 lighten($main-color, 10%);
//   }
  
//   50% {
//      box-shadow: 0 0 0 15px rgba( lighten($main-color, 10%) , .4 ); 
//   }
  
//   100% {
//     box-shadow: 0 0 0 15px rgba( lighten($main-color, 10%) , 0 ); 
//   }
// }


.btn-primary {
    background-color: $orange;
    color: #fff;
    border: none;
    padding: 8px 24px;
    font-size: 16px;

    &:hover, &:active, &:focus {
        box-shadow: none;
        background-color: $orange !important;
        border: 0;
    }
}







$color1: #f4f4f4;
$color2: $orange;


.radio-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.radio {
  margin: 0.5rem;
  display: inline-block;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        position: relative;
        top: -0.2em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

select {
    
}