$primary : #02461b;



$orange : #f07213;
$violet : #9b59b6;
$blue : #3498db;
$green : #34ca73;

$rosebay : #a3238f;
$darkgray: #5b5e62;
$lightgray: #757575;
//$secondary : '';
//$black : '';
//$lightblack : '';

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$black: #333;








$facebook: #3b5998;
$facebook-1: #3b5998;
$instagram: #405de6;
$instagram-1: #405de6;
$instagram-2: #5851db;
$instagram-3: #833ab4;
$instagram-4: #c13584;
$instagram-5: #e1306c;
$instagram-6: #fd1d1d;
$instagram-7: #f56040;
$instagram-8: #f77737;
$instagram-9: #fcaf45;
$instagram-10: #ffdc80;
$twitter: #1da1f2;
$twitter-1: #1da1f2;
$twitter-2: #14171a;
$twitter-3: #657786;
$twitter-4: #aab8c2;
$twitter-5: #e1e8ed;
$twitter-6: #f5f8fa;
$youtube: #cd201f;
$youtube-1: #cd201f;
$google-plus: #dd4b39;
$google-plus-1: #dd4b39;
$linkedin: #0077b5;
