@import '_variables';
@import '_globals';


/**
 * =================================
 * 
 * 
 *    Body
 * 
 * 
 * =================================
 */


html, body {
    // height:100%;
    position: relative;
    background-color: #eee;
} 
 body {
    // height: 100%;
    font-size: 16px;
 }

* {
    // outline: 1px solid cyan !important;
}

@mixin shadow () {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

/**
 * =================================
 * 
 * 
 *    Index page CSS
 * 
 * 
 * =================================
 */




.app-bg {
    background-image: url('../images/backgrounds/splash.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;

}

.inner-page {
    background-color: #eee;
    padding-top: 15px;
    height: 100%;
    margin-bottom: 70px;
}
.page-index {

}

.form-control {
    height: 35px;
}

/**
 *    Logo
 */

 .logo {
    img {
        transition: all 600ms ease-in-out;
        width: 46%;
        align-self: center;
        margin: 0 auto;




    }
 }


.logo-animateable {

    position: absolute;
    transition: all 600ms ease-in-out;
    top: 30%;
    @include centerElement('p','h');
    img {
        margin-bottom: 50px;
    }
} 

/**
 *    Footer
 */

 .splash-footer {
    position: absolute;
    width: 100%;
    bottom: 4%;
    text-align: center;

 }
.powered-by {
    color: $black;
    font-weight: 300;
    font-size: 13px;
}
.rosebay-logo {
    img {
        width: auto;
        height: 0.65em;
        margin-left: 0.8%;
        margin-bottom: 0.5px;
    }
}



/**
 *    Form
 */

 .cinergy-form {
    // @include centerElement('p', 'b');
    transition: all 800ms  cubic-bezier(.35,0,.25,1);
    // transition: all 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    .form-control {
        font-weight: 300;
        padding-left: 40px;
        height: 4.5rem;
        color: #fff;
        &::placeholder {
            color: #fff;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            // padding-left: 30px;
        }
        background-color: $darkgray;

        &:hover, &:active, &:focus {
            box-shadow: none;
            border: 0;

        }
    }
 }
  // .cinergy-form-animateable {
  //   opacity: 1
  // }

 .cinergy-form-float {
    // width: 100%;
    @include centerElement('p','b');
 }


.icon {
    position: relative;
    color: #fff;
    &:after {
        font-family: 'FontAwesome';
        position: absolute;
        top: 50%;
        @include centerElement('p','v');
        left: 4%;
    } 
}

.icon--user:after {
    content: '\f007';
}
.icon--password:after {
    content: '\f023';
}
.icon--email:after {
    content: '\f0e0';
}


.button-form {
    margin-top: 15px;
}


.note {
    text-align: center;
    line-height: 28px;
    margin-bottom: 20px;
    font-size: 14px;
}

.bottom {
    text-align: center;
    font-size: 14px;

    &-note {
        font-weight: 300;
        margin-bottom: 25px;
        a {
            font-weight: 600;
            color: $black
        }
    }

    .login-social {
        $round-height: 3.6rem;
        ul {
            margin-top: 10px;

            li:not(:last-child) {
                margin-right: 16px;
            }

            li {
                width: $round-height;
                height: $round-height;
                border-radius: 50%;
                border: 1px solid transparent;
                // border: 1px solid $black;

                a {
                    display: inline-block;
                    line-height: $round-height;
                    // color: $black;
                    color: white;
                    font-size: 1.05rem;
                }
            }
        }
    }
}



/**
 * =================================
 * 
 * 
 *    Dashboard Page
 * 
 * 
 * =================================
 **/

 
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-navigation {

    display: flex;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    .item {
        display: flex;
        flex-grow: 1;
        display: flex;
        align-items: center;
        height: 100%;
        color: #fff;
        flex: 0 0 33.33333%;
    }

    img {
        width: 70% !important;
        @media screen and (min-width: 767px) {
            width: 40% !important;
        }
    }
}
.has-tabs {
    height: initial !important;

    .top-nav {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tabs {
        display: flex;
        flex-grow: 1;
        height: 48px;
        font-size: 14px;
        position: relative;
        // &:after {
        //     position: absolute;
        //     font-family: 'FontAwesome';
        //     color: white;
        //     @include centerElement('p','b');
        //     content: '\f054'
        // }

        .tab-item {
            height: 100%;
            text-align: center;
            // padding-top: 8px;
            // padding-bottom: 8px;
            border-bottom: 2px solid transparent;

            flex: 0 0 50%;
            a {
                // padding: 0 12px;
                display: inline-block;
                color: #fff;
                width: 100%;
                height: 100%;
                display: flex;
                text-overflow: ellipsis;
                overflow: hidden;
                align-items: center; 
                justify-content: center;
            }
            &.active {
                border-bottom: 2px solid #fff;
            }
        }
    }


}


.circle {
    background-color: white;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    color: $orange;
    border-radius: 50%;
    text-align: center;
    margin-right: 4px;


}
.tabbed-page {
    padding-top: 118px+15px !important;
}


.back-button {
    font-size: 18px;
    a {
        width: 40px;
        display: inline-block;
        color: #fff;
    }
}

.centered-logo {
    text-align: center;
}
.page-info {
    span {
        margin-left: auto;
    }
    .ghost-label {
        padding: 6px 12px;
        font-size: 12px;
        color: #fff;
        line-height: 1.5;
        border-radius: 19px;
        border: 1px solid white;
        display: inline-block;
        &:active, &:focus {
            color: white;
        }
    }
    a {
        margin-left: auto;
        text-align: right;
        line-height: 70px;
        &:active, &:focus, &:hover {
            color: #fff
        }
        i {

        }
    }
}

 .fixed-navigation {
    position: fixed;
    z-index: 5;
 }
 .has-fixed-navigation {
    // width: 100vw;
    // height: 100vh;
    // position: fixed;
    padding-top: 70px+15px;
    // padding-bottom: 70px+15px;
 }
 .no-navigation {
    margin-bottom: 0;
 }
 .navigation-bar {
    width: 100%;
    height: 70px;
    background-color: $orange;
 }

 .navigation-logo {
    img {
        width: 20%;
    }
 }





/**
 * =================================
 * 
 * 
 *    Dash Cards
 * 
 * 
 * =================================
 **/


.icon--orange {
    background-color: $orange;
}.icon--violet {
    background-color: $violet;
}.icon--blue {
    background-color: $blue;
}.icon--green {
    background-color: $green;
}.icon--red {
    background-color: #ff6961;
}.icon--orange {
    background-color: $orange;
}.icon--orange {
    background-color: $orange;
}
 

.dashcard-container {
    .dashcard:not(:last-child) {
        margin-bottom: 15px;
    }
}

 .dashcard {
    $ICONSIZE: 110px;
    $BLOCKWIDTH: 48%;
    width: 100%;
    background-color: #fff;
    height: $ICONSIZE;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.02);
    
    &-icon {
        width: $ICONSIZE+30px;
        height: $ICONSIZE;
        line-height: $ICONSIZE;
        text-align: center;
        display: inline-block;
        font-size: 80px;
        color: #fff;
        flex-basis: $BLOCKWIDTH;
    }

    &-option {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 4px;
        right: 2px;
        color: $lightgray;
    }
    &-info {
        display: inline-block;
        height: 100%;
        flex-basis: 75%;
        padding: 15px;
        text-align: left;
        color: #757575;

        .title {
            color: #333;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 12px;
        }

        .info {
            font-size: 11px;
        }
    }
 }


/**
 * =================================
 * 
 * 
 *    Sheet
 * 
 * 
 * =================================
 **/

 .sheet-container {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    background-color: #fff;
    height: 70px;
    display: flex;
    border-top: 1px solid #e4e4e4;
 }


    .sheet {
        // background-color: $orange;
        flex-grow: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9a9a9a;
        font-size: 12px;
        
        .notification {

            position: relative;

            .notification-count {
                position: absolute;
                background-color: red;
                color: white;
                width: 16px;
                height: 16px;
                line-height: 16px;
                font-size: 8px;
                top: -9px;
                right: -9px;
                border-radius: 50%;
                text-align: center;
            }
        }

        &-icon {
            font-size: 24px;
            margin-bottom: 4px;
            color: #9a9a9a;
        }

    }
    .sheet-active {

        .sheet-icon {
           color: $orange !important;
        }
        color: $orange !important;
    }


    /**
 * =================================
 * 
 * 
 *    Dialog
 * 
 * 
 * =================================
 **/

 .dialog {

    text-align: center;
    &-title {
        font-size: 19px;
        color: $orange;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 600;
    
    }
    &-content {
        color: #808080;
        padding: 16px;
        line-height: 26px;

    }
 }

 .dialog-button {
    display: flex;
    .btn {
        display: flex;
        flex-grow: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        flex: 0 0 50%;
        color: #808080;
    }
    .btn.highlight {
        color: $orange
    }
    .btn:last-child {
        border-left: 1px solid #e5e5e5;
    }

 }




/**
 * =================================
 * 
 * 
 *    Profile page
 * 
 * 
 * =================================
 **/


.form-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: $orange;

}


 .form-legend {
    font-size: 24px;
    color: $orange;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 1px solid #9a9a9a;
    margin-bottom: 30px;
 }


.fluid-form-container {
    display: flex;
    
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;

    .form-group {
        flex: 0 0 50%;

    }
    .form-group:first-child {
        padding-right: 15px;
    }
}

.btn-danger,.color-danger {
    background-color: #d60000;
}.btn-success, .color-success {
    background-color: #01c853;
}
.general-form {
    .form-control {
        border: 0.5px solid #ccc;
        height: 40px;
    }
}


/**
 * =================================
 * 
 * 
 *    
 * 
 * 
 * =================================
 **/

.action-header {
    margin-bottom: 15px;
}
.action-container {
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
    @include shadow();
    .strong {
        font-weight: 600;
    }

    .action-group {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .action-title {
        font-size: 19px;
        color: $orange;
        margin-bottom: 6px;
        font-weight: 600;
    }
    .action-statement {
        font-size: 14px;
        color: #757575;
        margin-bottom: 12px;
    }
    .action-sheet {
        li {
            padding: 12px 0;
            
            display: flex;
            .key, .value {
                flex: 0 0 50%;
            }
            .value {
                text-align: right;
            }
        }
        li:last-child {
            padding-bottom: 0;
        }

        .label {
            padding: 8px;
            font-size: 13px;
        }
        li:not(:last-child) {
            border-bottom: 1px dotted #ccc;
        }
    }
    .profile-sheet {
        .progress {
            height: 10px;
            border-radius: 0;
        }


        .profile-item {
            margin-bottom: 15px;
            .top-item {
                display: flex;
                margin-bottom: 12px;
                .icon {
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                }

                .title {
                    color: #333;
                    width: 60%;
                }

                .status {
                    float: right;
                    color: #757575;
                    font-size: 12px;
                    width: 40%;
                    text-align: right;
                }
            }
        }


        li {

        }
    }
}


.has-completed {
    opacity: 1
}
.under-progress {
    filter: blur(2px);
    // filter: brightness(-5);
}

.has-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.profile-logo {
    text-align: center;
    background-color: #fff;
    @include shadow();
    img {
        width: 20vh;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.profile-name {
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 10px;
}

.profile-details {
    font-size: 16px;
    color: #8a8a8a;
    text-align: center;
    margin-bottom: 20px;
}
.m-center {
    justify-content: center;
}
.profile-page {
    padding-top: 70px !important;
}












.avatar {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    display: block
}


.imgProgress-progress {
    position: relative;
}

.imgProgress-img {
    border-radius: 50%;
    position: absolute;
}

.imgProgress-circle {
    stroke-width: 32;
}

.imgProgress-svg {
    transform: rotate(-90deg);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.color--green {
    color: green
}

.bg--green {
    background-color: green
}

.bg--green-light {
    background-color: rgba(green, 0.2)
}


.color--blue {
    color: #03A9F4
}

.bg--blue {
    background-color: #03A9F4
}

.bg--blue-light {
    background-color: rgba(#03A9F4, 0.2)
}


.color--violet {
    color: #3F51B5
}

.bg--violet {
    background-color: #3F51B5
}

.bg--violet-light {
    background-color: rgba(#3F51B5, 0.2)
}



.color--yellow {
    color: #FF6F00
}

.bg--yellow {
    background-color: #FF6F00
}

.bg--yellow-light {
    background-color: rgba(#FF6F00, 0.2)
}


.color--red {
    color: red
}








.action-menu-container {
    padding: 0 !important;

    .action-sheet li div {
        flex: 0 0 100%
    }
    i {
        margin-left: 12px;
        margin-right: 12px;
        color: $orange
    }
    li {
        padding: 0 !important;
        a {
            color: #757575;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        padding-left: 10px !important;
        padding-right: 10px !important;
        // padding-top: 20px !important;
        // padding-bottom: 20px !important;
        height: 50px;
        line-height: 50px;

    }
    .action-sheet li:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
    .action-menu {
    }
}







.action-notification-container {
    // padding: 0 !important;
    
    &.action-container {
        padding: 0;
        border-radius: 0
    }

    // .action-sheet li {
    //     flex: 0 0 50%
    // }
    // li {
    //     padding: 15px !important;  
    // }
    .key {
        flex: 0 0 15% !important
    }
    .value {
        text-align: left !important;
        flex: 0 0 85% !important;
        color: #ccc
    }


    i {
        margin-left: 12px;
        margin-right: 12px;
        color: $orange
    }
    .unread {
        .value {
            font-weight: 500;
            color: #333
        }

    }




    .read {
        background-color: #f5f5f5;
    }
    li {
        padding: 15px;
        align-items: flex-start;
        a {
            color: #ccc;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        padding-left: 10px !important;
        padding-right: 10px !important;
        // padding-top: 20px !important;
        // padding-bottom: 20px !important;
        min-height: 50px;
        line-height: 30px;

    }
    li:last-child {
        padding-bottom: 15px !important;
    }
    .action-sheet li:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
    .action-notification {
    }
}

















/**
 * =================================
 * 
 * 
 *    Special offer
 * 
 * 
 * =================================
 **/

.panel--violet {
    background-color: #8c88ff
}
.panel--cyan {
    background-color: #50d2c2;
}.panel--red {
    background-color: #ec6d6d;
}

.offer-container .offer {
// .offer-container .offer:not(:last-child) {
    margin-bottom: 30px;
}

 .offer {
    &-panel {
        padding: 8px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        height:  50px;
        border-radius: 6px;
        justify-content: center;
        a {
            color: #fff;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        div {
            // flex: 0 0 70%;
        }

    }
    &-title {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
    }
    &-button {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        flex: 0 0 30%;
        text-align: right;
        display: flex;
        align-items: center;

        .icon {
            margin-left: auto;
        }
    }

    &-body {
        background-color: #fff;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        p {
            margin-top: 5px;
            font-size: 13px;
            color: #757575
        }
    }
    &-action {

        justify-content: space-between;

        a {
            background-color: $orange;
            border-radius: 6px;
            font-size: 16px;
            color: #fff;
        }
    }

    .columns {
        display: flex;
        &.two-col {
            .col {
                flex: 0 0 50%;
            }
        }
        .col {
            flex: 0 0 33.333%;
            justify-content: center;
            text-align: center;
        }


    }
    .bottom {
        text-align: left;
    }
 }


 .bordered-input {
    margin-top: 12px;
    height: 45px;
    // border: 1px solid #ccc;
 }

 .form-control {
    border-radius: 0 !important;
    border: 1px solid #ccc !important;
 }

 .btn {
    // border-radius: 6px;
 }


.history-container {
    .history {
        margin-bottom: 15px;
    }
}

 .history {
    padding: 12px;
    border-radius: 8px;
    border-left: 2px solid $orange;
    background-color: #fff;
    h2 {
        font-size: 18px;
        margin-bottom: 8px;
        display: block;

    }
    p {
        color: #757575;
        font-size: 13px;
        display: block;
    }
    .label {padding: 12px 30px; display:inline-block}
    

    $lred: #d9534f;
    $lgreen: #01c853;
    .label-ghost {
        background-color: transparent;
    }

    .label-red {
        
        border: 1px solid $lred;
        color: white;
        background-color: $lred;
        &:active, &:focus, &:hover {
            color: white
        }
    }

    .label-green {

        border: 1px solid $lgreen;
        color: white;
        background-color: $lgreen;
        &:active, &:focus, &:hover {
            color: white
        }
    }
    .column {
        display: flex;
        
        .col {
            flex: 0 0 50%;
        }
        .col:last-child {
            text-align: right;

        }
    }
}


.split-info {   
    margin-top: 12px;
    margin-bottom: 12px;

    display: flex;
    padding: 8px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: center;

    p:first-child {
        margin-bottom: 6px;
    }
    
    .col {
        flex: 0 0 50%;
    }
    .col:last-child {
        border-left: 1px solid #fff;

    }
}


.split-page {
    padding-top: 155px+15px;
}

.checkbox {
    margin-left: 30px;
    
}

.paper {

    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
    @include shadow();
    &-title {
        font-size: 16px;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(#ccc, 0.7);
        margin-bottom: 30px;
    }
    &-body {
        line-height: 22px;
    }

}


.paper.paper-v-center {

    height: 75%;
    .paper-title {
        padding-top: 25px;
    }
    // overflow: scroll;
}
.paper-about-padding {
    padding-top: 40px;
}

.rose img {

    width: 50%;
}

.keyline {
    color: #757575;
    margin-bottom: 15px

}


.keyline-bigger {
    // font-size: 18px;
    // font-weight: 600
}
.exchange {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #fff;
}

.qr-bg {
    text-align: center;
    .qr-img {
        width: 128px;

    }
    img {
        width: 100%;
        height: 100vh
    }
}



.qr-body {
    padding: 0;
    margin: 0;
    overflow: hidden !important;
}









/* FANCY COLLAPSE PANEL STYLES */
.fancy-collapse-panel .panel-default > .panel-heading {
    padding: 0;

}
.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: $orange;
    color: #ffffff;
    position: relative;
    text-decoration: none;
    text-align: left;
}
.fancy-collapse-panel .panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f196";
}
.login-checkbox {
    // text-align: right;
    margin-left: 0;
    label {
        font-size: 12px;
        color: #333
    }
}
.sign-in {
    color: $orange
}


input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + .star:before { content: "\f005"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 5px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + .star:before { content: "\f006"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 3.5px; } /* allow space for check mark */

label.star {
    color: $orange;
    font-size: 18px;
}
.facebook  {
    background-color: $facebook
}.google-plus  {
    background-color: $google-plus
}.linkedin  {
    background-color: $linkedin

}
.instagram  {
    background-color: $instagram

}.twitter  {
    background-color: $twitter
}





.toggle-btn{
  width: 80px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==') no-repeat 50px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor:pointer;
  &.active{
    background : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC') no-repeat 10px center #2ecc71;
    .round-btn{
      left: 45px;
    }
  }
  .round-btn{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
  }
  .cb-value{
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.statement-legend {
    margin-bottom: 15px;
}

.statement-legend {
    margin-top: 30px;
}


/*****************************************
  upload button styles
******************************************/

.upload-form-group {
    label, small {
        display: block
    }
    input {
        // height: 40px;
    }
}
.file-upload {
    position: relative;
    display: block;
    text-align: center;
    // &.fluid {
    //     display: block;
    // }
}

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background-color: $blue;
  // border-radius: .4em;
  transition: background .3s;
  
  &:hover, &:focus, &:active {
     cursor: pointer;
     background: lighten(green, 10%);
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}


.ci-check {
    div{
  margin: 0 auto;
  margin: 80px 0;
  text-align: center;  
}

input[type='checkbox'] {
  display:block;
  // margin: 0 auto;
  margin-left: auto;
  // margin-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-appearance: button;
  border:none;
  background-color: #ccc;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
  cursor: pointer;
  position: relative;
  transition: background-color 1s;
}
input[type='checkbox'].error{
   background-color: #c63d3d;
}
input[type='checkbox']:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 80%;
  background-color: #fdfdfd;
  margin: 4%;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  
  background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );

 transition: .5s all;
}

input[type='checkbox']:checked{
  background-color: #79d122;
} 

input[type='checkbox']:checked:after {
  left: 45%;

    border: 0;
}
input[type="checkbox"]:checked:before {
    display: none;
}
input[type="checkbox"]:checked:after {
    border: 0;
}
input[type="checkbox"]:after {
    border: 0;
}
}

.modal-footer {
    .btn {
        padding: 10px 14px;
    }
}

.social-icon-key {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    display: inline-block;
    color: #fff;
    text-align: center;
    position: relative;
    top: -2px;
    margin-right: 10px;

}

label {
    text-transform: capitalize;
}

.circular {
    
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
}


.mark-as-favourite {
    
    color: $orange !important;
    a {
        color: $orange !important
    }
    margin-top: 20px;
    // margin-bottom: 20px;
}

.more-hamburger {
    a {
        color: #fff !important;
        padding: 8px;
    }
}


.mascot {
    width: 190px;
}

.btn-dismiss {
    background-color: $orange;
    border: 0;
}




/*****************************************
  Image uploader
******************************************/


.img-holder {

    width: 64px;
    height: 64px;
    border-radius: 6px;
    border: 2px solid blue;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.balance-history .value {
    text-align: left !important;
}
.balance-panel {

.panel-group {
    margin-top: 30px !important;
  padding-top: 50px;
}
.panel {
    box-shadow: none;
}
.panel-title {
    font-size: 14px;
    color: #333 !important
}
.panel-default {
  border-radius: 0;
  border: none;
  background: none;
  margin-bottom: 0;
  padding-bottom: 14px;
}
.panel-default > .panel-heading {
  border: none;
  background: none;
  padding: 0;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border: none;
}
.panel-default h5 {
  font: 300 19px "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0 0 5px;
}
.panel-group .panel+.panel {
  margin-top: 15px;
}
.panel-default .accordion-toggle:before {
  content: "";
  width: 21px;
  height: 21px;
  display: inline-block;
  background: #e54a1a url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.panel-default .collapsed:before {
  background: #495764 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px;
}
.panel-default .panel-title:hover .collapsed:before {
  background-color: #ccc;
}
.panel-default .accordion-toggle,
.panel-default .accordion-toggle:focus,
.panel-default .accordion-toggle:hover,
.panel-default .accordion-toggle:active {
  color: #333;
  text-decoration: none;
}
.panel-default .collapsed {
  color: #5f6f7e;
}
}

.table-container-summary {
    overflow-x: scroll
}
table {
    margin-top: 30px;
}
.table-container-summary {
    th, td, tr {
        min-width: 150px;
    }

    tr td:nth-last-child(2) {
        // color: darken($green, 10%);

    }

    tr td:nth-last-child(3) {
        // color: darken(tomato, 10%)
    }
}


.bank-image {
    img {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
.success-message {
    display: none;
    padding: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    margin-bottom: 24px;
    a {
        // font-size: 12px;

    }
    .success-accept-button {
        color: $blue
    }
    .success-delete-button {
        margin-left: 20px;
        color: tomato
    }
}
.error-message {
    display: none;
    padding: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    margin-bottom: 24px;
}

/* 



*/


.login-choice {
    & .btn:not(:last-child) {
        margin-bottom: 30px;
    }
    &-title {
        // font-size: 38px;
        // font-weight: 300;
        // margin-bottom: 24px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 24px;


    }
}


/* 



*/



.inline-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
}

.inline-radio div {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.inline-radio input {
    width: 100%;
    height: 30px;
    opacity: 0;
}

.inline-radio label {
    position: absolute;
    top: 0;
    left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
}

.inline-radio div:last-child label {
    border-right: 0;
}

.inline-radio input:checked+label {
    background: #f07518;
    font-weight: 500;
    color: #fff;
}


.in-register img {
    margin-top: 55px;
}

.modal-selector{
    width: 80vw;
}
.loan-selector {
    li  {
        padding: 18px 0;
        font-weight: 600;
        font-size: 18px;
        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
        a {
            display: block;
            color: $orange;
            width: 100%;
            height: 100%;
        }
    }
}


.hidden-list {
    width: 100%;
    padding-left: 12px;
}

.inner-list {
    display: flex;
    margin-bottom: 10px;
}

.collapse-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #04b4eb;
    position: relative;
    padding: 0;


}

.collapse-button:after {
    content: '-';
    position: absolute;
    @include centerElement('p','b');

    color: #fff;

}


.collapse-button.collapsed:after {
    content: '+';

}

.dashcard.is-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.4;
    .dashcard-icon {
        background-color: #797979 !important
    }
}

.mascot-background {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 50%;
        margin: auto;
    }
}

.picker {
    margin-top: 70px;
}
.later-link {
    display: block;
    text-align: center;
    margin-top: 25px;
    color: $orange;
    font-size: 16px;
    font-weight: 600;
}