/*  Bigger than tablet and smaller than a wide monitor (ex. Landscape IPad) */
@media (max-width: 992px) and (min-width: 767px) {
  
  
}

/*  Bigger than a small phone and smaller tha a Phablet */
/*  Smaller than an Ipad */
@media screen and (max-width: 767px) {
  
}

/*  Smaller than an desktop */
@media screen and (max-width: 992px) {
  
}

/*  Smaller than an phone */
@media screen and (max-width: 480px) {

}

/*  Smaller than an iphone 4 */
/*  Smaller than an wide monitor */
@media screen and (max-width: 1200px) {

}

/*  Other Breakpoints */
@media screen and (max-width: 355px) {

}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 460px) {

}
